<!-- Inner Banner Start-->
<section class="inner-hero-banner">
  <div class="inner-hero-text">
    <h1>Contact Us</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
      </ol>
    </nav>
  </div>
</section>
<!-- Inner Banner End -->
<!-- Start Contact Area -->
<section class="contact-info">
  <div class="list-inline-wrapper p-top-80 p-bottom-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="d-flex align-items-center justify-content-center contact-info-box">
            <div class="icon"><span><i class="mdi mdi-phone-in-talk"></i></span></div>
            <div class="contents">
              <h6>+1 123 456 7890</h6>
              <span class="sub-text">Mon-Sat 8am - 18pm</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="d-flex align-items-center justify-content-center contact-info-box">
            <div class="icon"><span><i class="mdi mdi-telegram"></i></span></div>
            <div class="contents">
              <h6>support@yourdomain.com</h6>
              <span class="sub-text">Free enquiry</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="d-flex align-items-center justify-content-center contact-info-box">
            <div class="icon"><span><i class="mdi mdi-map-marker"></i></span></div>
            <div class="contents">
              <h6>New York, USA</h6>
              <span class="sub-text">Lacinia Road San Bernardino</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Area -->
<!-- Start Get-In-Touch Area -->
<section class="section getin-touch">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-sm-12">
        <h4>Let's Get In Touch</h4>
        <div class="contact_form wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1000ms">
          <form>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <input name="name" id="name" type="text" class="form-control" placeholder="Enter name..." required>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <input name="email" id="email" type="email" class="form-control" placeholder="Enter email..." required>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <input name="phone" id="phone" type="text" class="form-control" placeholder="Your Phone No..." required>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Your message..." required></textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="d-flex justify-content-start">
                  <button type="submit" class="btn btn-sm theme-btn text-white text-uppercase send-btn">Send Message</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div id="map"></div>
      </div>
    </div>
  </div>
</section>
<!-- End Get-In-Touch Area -->
