<!-- Inner Banner Start-->
<section class="inner-hero-banner">
  <div class="inner-hero-text">
    <h1>RSVP</h1>
  </div>
</section>
<!-- Inner Banner End -->
<!-- Start Get-In-Touch Area -->
<section class="section getin-touch">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <h4>Let us know if you can attend!</h4>
        <div
          class="contact_form wow fadeInUp"
          data-wow-delay="0.3s"
          data-wow-duration="1000ms"
        >
          <div class="row">
            <form
              [formGroup]="rsvpForm"
              (ngSubmit)="onSubmit()"
              class="rsvp-form"
            >
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="name">Your Name:</label>
                  <input
                    name="name"
                    formControlName="name"
                    id="name"
                    type="text"
                    class="form-control"
                    placeholder="Enter your full name..."
                    required
                  />
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="attending">Will You Be Attending:</label>
                  <select
                    name="attending"
                    class="form-control"
                    formControlName="attending"
                    required
                  >
                    <option value="null" disabled="true" [selected]="true">
                      Select your RSVP status...
                    </option>
                    <option [value]="true">Yes</option>
                    <option [value]="false">No</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-12">
                <div formArrayName="guests">
                  <label for="guests">Guests Attending:</label>
                  <div *ngFor="let alias of guests.controls; let i = index">
                    <input
                      id="alias-{{ i }}"
                      type="text"
                      [formControlName]="i"
                      class="form-control"
                      placeholder="Guest's name..."
                    />
                  </div>
                  <div class="d-flex justify-content-end">
                    <button (click)="addGuest()" type="button" class="btn btn-sm theme-btn text-white">
                      + Add another guest
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="songRequest">Request a Song:</label>
                  <input
                    name="songRequest"
                    id="songRequest"
                    type="songRequest"
                    class="form-control"
                    placeholder="List any songs you'd like the DJ to play..."
                    required
                  />
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="dietaryRestrictions">Dietary Restrictions:</label>
                  <textarea
                    name="dietaryRestrictions"
                    id="dietaryRestrictions"
                    formControlName="dietaryRestrictions"
                    rows="2"
                    class="form-control"
                    placeholder="Please list any dietary restrictions..."
                    required
                  ></textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="d-flex justify-content-end">
                  <button
                    type="submit"
                    class="btn btn-sm theme-btn text-white text-uppercase send-btn"
                  >
                    RSVP
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</section>
<!-- End Get-In-Touch Area -->
