<!-- Inner Banner Start-->
<section class="inner-hero-banner">
  <div class="inner-hero-text">
    <h1>Pictures</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pictures</li>
      </ol>
    </nav>
  </div>
</section>
<!-- Inner Banner End -->
<!-- Start Picture Area -->
<section class="section portfolio-section">
  <div class="container">
    <div class="d-flex justify-content-center">
      <!--   Picture Filters   -->
      <ul id="portfolio-filter" class="portfolio-filter filters">
        <li class="button-border list-inline-item">
          <a href="#" data-filter="*" class="pill-button active">All</a>
        </li>
        <li class="button-border list-inline-item">
          <a href="#" data-filter=".proposal" class="pill-button">Proposal</a>
        </li>
        <li class="button-border list-inline-item">
          <a href="#" data-filter=".engagement" class="pill-button">Engagement</a>
        </li>
      </ul>
    </div>
    <div class="portfolio-items row">
      <!-- Item 01 -->
      <div class="col-lg-4 col-sm-6 portfolio-item proposal">
        <div class="image-border">
          <div class="portfolio-box">
            <img src="assets/images/pictures/01.jpg" class="img-fluid" alt="">
            <div class="portfolio-icon d-flex align-items-center justify-content-center">
              <a href="assets/images/pictures/big/01.jpg" class="js-zoom-gallery">
                <i class="mdi mdi-magnify-plus-outline"></i>
              </a>
            </div>
            <div class="img-overlay text-center">
              <h5 class="mb-0">Proposal</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- Item 02 -->
      <div class="col-lg-4 col-sm-6 portfolio-item proposal">
        <div class="image-border">
          <div class="portfolio-box">
            <img src="assets/images/pictures/02.jpg" class="img-fluid" alt="">
            <div class="portfolio-icon d-flex align-items-center justify-content-center">
              <a href="assets/images/pictures/big/02.jpg" class="js-zoom-gallery">
                <i class="mdi mdi-magnify-plus-outline"></i>
              </a>
            </div>
            <div class="img-overlay text-center">
              <h5 class="mb-0">Proposal</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- Item 03 -->
      <div class="col-lg-4 col-sm-6 portfolio-item proposal">
        <div class="image-border">
          <div class="portfolio-box">
            <img src="assets/images/pictures/03.jpg" class="img-fluid" alt="">
            <div class="portfolio-icon d-flex align-items-center justify-content-center">
              <a href="assets/images/pictures/big/03.jpg" class="js-zoom-gallery">
                <i class="mdi mdi-magnify-plus-outline"></i>
              </a>
            </div>
            <div class="img-overlay text-center">
              <h5 class="mb-0">Proposal</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- Item 04 -->
      <div class="col-lg-4 col-sm-6 portfolio-item proposal">
        <div class="image-border">
          <div class="portfolio-box">
            <img src="assets/images/pictures/04.jpg" class="img-fluid" alt="">
            <div class="portfolio-icon d-flex align-items-center justify-content-center">
              <a href="assets/images/pictures/big/04.jpg" class="js-zoom-gallery">
                <i class="mdi mdi-magnify-plus-outline"></i>
              </a>
            </div>
            <div class="img-overlay text-center">
              <h5 class="mb-0">Proposal</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- Item 05 -->
      <div class="col-lg-4 col-sm-6 portfolio-item proposal">
        <div class="image-border">
          <div class="portfolio-box">
            <img src="assets/images/pictures/05.jpg" class="img-fluid" alt="">
            <div class="portfolio-icon d-flex align-items-center justify-content-center">
              <a href="assets/images/pictures/big/05.jpg" class="js-zoom-gallery">
                <i class="mdi mdi-magnify-plus-outline"></i>
              </a>
            </div>
            <div class="img-overlay text-center">
              <h5 class="mb-0">Proposal</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- Item 06 -->
      <div class="col-lg-4 col-sm-6 portfolio-item engagement">
        <div class="image-border">
          <div class="portfolio-box">
            <img src="assets/images/pictures/06.jpg" class="img-fluid" alt="">
            <div class="portfolio-icon d-flex align-items-center justify-content-center">
              <a href="assets/images/pictures/big/06.jpg" class="js-zoom-gallery">
                <i class="mdi mdi-magnify-plus-outline"></i>
              </a>
            </div>
            <div class="img-overlay text-center">
              <h5 class="mb-0">Engagement</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- Item 07 -->
      <div class="col-lg-4 col-sm-6 portfolio-item engagement">
        <div class="image-border">
          <div class="portfolio-box">
            <img src="assets/images/pictures/07.jpg" class="img-fluid" alt="">
            <div class="portfolio-icon d-flex align-items-center justify-content-center">
              <a href="assets/images/pictures/big/07.jpg" class="js-zoom-gallery">
                <i class="mdi mdi-magnify-plus-outline"></i>
              </a>
            </div>
            <div class="img-overlay text-center">
              <h5 class="mb-0">Engagement</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- Item 08 -->
      <div class="col-lg-4 col-sm-6 portfolio-item engagement">
        <div class="image-border">
          <div class="portfolio-box">
            <img src="assets/images/pictures/08.jpg" class="img-fluid" alt="">
            <div class="portfolio-icon d-flex align-items-center justify-content-center">
              <a href="assets/images/pictures/big/08.jpg" class="js-zoom-gallery">
                <i class="mdi mdi-magnify-plus-outline"></i>
              </a>
            </div>
            <div class="img-overlay text-center">
              <h5 class="mb-0">Engagement</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- Item 09 -->
      <div class="col-lg-4 col-sm-6 portfolio-item engagement">
        <div class="image-border">
          <div class="portfolio-box">
            <img src="assets/images/pictures/09.jpg" class="img-fluid" alt="">
            <div class="portfolio-icon d-flex align-items-center justify-content-center">
              <a href="assets/images/pictures/big/09.jpg" class="js-zoom-gallery">
                <i class="mdi mdi-magnify-plus-outline"></i>
              </a>
            </div>
            <div class="img-overlay text-center">
              <h5 class="mb-0">Engagement</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Portfolio Area -->
