<!-- Inner Banner Start-->
<section class="inner-hero-banner">
  <div class="inner-hero-text">
    <h1>Wedding Party</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Wedding Party</li>
      </ol>
    </nav>
  </div>
</section>
<!-- Inner Banner End -->
<!-- Start Wedding Party Area -->
<section class="section">
  <div class="container">
    <div class="d-flex justify-content-center">
      <!--   Picture Filters   -->
      <ul id="party-filter" class="party-filter filters">
        <li class="button-border list-inline-item">
          <a href="#" data-filter="*" class="pill-button active">All</a>
        </li>
        <li class="button-border list-inline-item">
          <a href="#" data-filter=".bridesmaids" class="pill-button">Bridesmaids</a>
        </li>
        <li class="button-border list-inline-item">
          <a href="#" data-filter=".groomsmen" class="pill-button">Groomsmen</a>
        </li>
      </ul>
    </div>
    <br /><br />
    <div class="party-items row">
      <div class="row align-items-center party-item bridesmaids">
        <div class="col-md-3 col-sm-6">
          <div class="about-image-block mt-0">
            <img src="assets/images/travel/foxchase.jpg" class="img-fluid" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="about-text-block">
            <div class="about-content">
              <h4 class="party-name">Cassie Miller</h4>
              <div class="text">Maid of Honor <br /> College Roommate</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="about-image-block mt-0">
            <img src="assets/images/travel/foxchase.jpg" class="img-fluid" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="about-text-block">
            <div class="about-content">
              <h4 class="party-name">Stephanie Zieger</h4>
              <div class="text">Matron of Honor <br /> Sister</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center party-item bridesmaids">
        <div class="col-md-3 col-sm-6">
          <div class="about-text-block">
            <div class="about-content">
              <h4 class="party-name">Sierra Shaub</h4>
              <div class="text">Bridesmaid <br /> High School Friend</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="about-image-block mt-0">
            <img src="assets/images/travel/foxchase.jpg" class="img-fluid" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="about-text-block">
            <div class="about-content">
              <h4 class="party-name">Kendall Valan</h4>
              <div class="text">Bridesmaid <br /> High School Friend <br/> Future Sister-in-Law</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="about-image-block mt-0">
            <img src="assets/images/travel/foxchase.jpg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
      <div class="row align-items-center party-item bridesmaids">
        <div class="col-md-3 col-sm-6">
          <div class="about-image-block mt-0">
            <img src="assets/images/travel/foxchase.jpg" class="img-fluid" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="about-text-block">
            <div class="about-content">
              <h4 class="party-name">Greta Rymar</h4>
              <div class="text">Bridesmaid <br /> High School Friend</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="about-image-block mt-0">
            <img src="assets/images/travel/foxchase.jpg" class="img-fluid" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="about-text-block">
            <div class="about-content">
              <h4 class="party-name">Shannon Blithe</h4>
              <div class="text">Bridesmaid <br /> College Roommate</div>
            </div>
          </div>
        </div>
      </div>
      <br/><br/>
      <div class="row align-items-center party-item groomsmen">
        <div class="col-md-6 col-sm-12">
          <div class="about-text-block">
            <div class="about-content">
              <h4>Hotel Name</h4>
              <div class="text">is simply dummy text of the printing and typesetting industry. has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to make a type specimen book. </div>
              <ul class="bullet--list mt-4">
                <li><strong class="color-dark">Professional -</strong> Delivers solutions that help drive</li>
                <li><strong class="color-dark">Business -</strong> Human capital research analytics</li>
                <li><strong class="color-dark">Services -</strong> Complex problems bringing an approach</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="about-image-block mt-0">
            <img src="assets/images/travel/foxchase.jpg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Wedding Party Area -->