<!-- Inner Banner Start-->
<section class="inner-hero-banner">
  <div class="inner-hero-text">
    <h1>Wedding Party</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Wedding Party</li>
      </ol>
    </nav>
  </div>
</section>
<!-- Inner Banner End -->
<!-- Start Wedding Party Area -->
<section class="section party-area">
  <div class="container">
    <div class="d-flex justify-content-center">
      <!--   Picture Filters   -->
      <ul id="portfolio-filter" class="portfolio-filter filters">
        <li class="button-border list-inline-item">
          <a href="#" data-filter="*" class="pill-button active">All</a>
        </li>
        <li class="button-border list-inline-item">
          <a href="#" data-filter=".bridesmaids" class="pill-button">Bridesmaids</a>
        </li>
        <li class="button-border list-inline-item">
          <a href="#" data-filter=".groomsmen" class="pill-button">Groomsmen</a>
        </li>
        <li class="button-border list-inline-item">
          <a href="#" data-filter=".others" class="pill-button">Others</a>
        </li>
      </ul>
    </div>
    <br /><br />
    <div class="portfolio-items row">
      <div class="col-lg-4 col-sm-6 portfolio-item bridesmaids">
        <div class="single-person wow fadeInUp" data-wow-duration="1.5s">
          <div class="party-photo">
            <img src="assets/images/aboutus/team/1.jpg" class="img-fluid" alt="">
          </div>
          <div class="person-name">
            <h4>Cassie Miller</h4>
            <p>Maid of Honor
              <br />
              College Roommate
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item bridesmaids">
        <div class="single-person wow fadeInUp" data-wow-duration="1.5s">
          <div class="party-photo">
            <img src="assets/images/aboutus/team/2.jpg" class="img-fluid" alt="">
          </div>
          <div class="person-name">
            <h4>Stephanie Zieger</h4>
            <p>Matron of Honor
              <br />
              Sister
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item bridesmaids">
        <div class="single-person wow fadeInUp" data-wow-duration="1.5s">
          <div class="party-photo">
            <img src="assets/images/aboutus/team/3.jpg" class="img-fluid" alt="">
          </div>
          <div class="person-name">
            <h4>Kendall Valan</h4>
            <p>Bridesmaid
              <br />
              High School Friend / Sister-in-Law
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item bridesmaids">
        <div class="single-person wow fadeInUp" data-wow-duration="1.5s">
          <div class="party-photo">
            <img src="assets/images/aboutus/team/4.jpg" class="img-fluid" alt="">
          </div>
          <div class="person-name">
            <h4>Sierra Shaub</h4>
            <p>Bridesmaid
              <br />
              High School Friend
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item bridesmaids">
        <div class="single-person wow fadeInUp" data-wow-duration="1.5s">
          <div class="party-photo">
            <img src="assets/images/aboutus/team/5.jpg" class="img-fluid" alt="">
          </div>
          <div class="person-name">
            <h4>Greta Rymar</h4>
            <p>Bridesmaid
              <br />
              High School Friend
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item bridesmaids">
        <div class="single-person wow fadeInUp" data-wow-duration="1.5s">
          <div class="party-photo">
            <img src="assets/images/aboutus/team/6.jpg" class="img-fluid" alt="">
          </div>
          <div class="person-name">
            <h4>Shannon Blithe</h4>
            <p>Bridesmaid
              <br />
              College Roommate
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item groomsmen">
        <div class="single-person wow fadeInUp" data-wow-duration="1.5s">
          <div class="party-photo">
            <img src="assets/images/aboutus/team/6.jpg" class="img-fluid" alt="">
          </div>
          <div class="person-name">
            <h4>John Blithe</h4>
            <p>Best Man
              <br />
              ?
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item others">
        <div class="single-person wow fadeInUp" data-wow-duration="1.5s">
          <div class="party-photo">
            <img src="assets/images/aboutus/team/6.jpg" class="img-fluid" alt="">
          </div>
          <div class="person-name">
            <h4>James Zieger</h4>
            <p>Ring Bearer
              <br />
              Nephew
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item others">
        <div class="single-person wow fadeInUp" data-wow-duration="1.5s">
          <div class="party-photo">
            <img src="assets/images/aboutus/team/6.jpg" class="img-fluid" alt="">
          </div>
          <div class="person-name">
            <h4>Everly Zieger</h4>
            <p>Flower Girl
              <br />
              Niece
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Wedding Party Area -->