<!-- Inner Banner Start-->
<section class="inner-hero-banner">
  <div class="inner-hero-text">
    <h1>Schedule</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Schedule</li>
      </ol>
    </nav>
  </div>
</section>
<!-- Inner Banner End -->
<!-- Start Schedule Area -->
<section class="section">
  <div class="background">
  <div class="timeline">
    <div class="timeline-container left">
      <div class="date">
        <h2>4pm</h2>
        <p>Guests Arrive</p>
      </div>
    </div>
    <div class="timeline-container right">
      <div class="date">
        <h2>4:30pm</h2>
        <p>Ceremony</p>
      </div>
    </div>
    <div class="timeline-container left">
      <div class="date">
        <h2>5pm</h2>
        <p>Cocktail Hour</p>
      </div>
    </div>
    <div class="timeline-container right">
      <div class="date">
        <h2>6pm</h2>
        <p>Dinner</p>
      </div>
    </div>
    <div class="timeline-container left">
      <div class="date">
        <h2>7pm</h2>
        <p>Dancing!</p>
      </div>
    </div>
    <div class="timeline-container right">
      <div class="date">
        <h2>10pm</h2>
        <p>Sparkler Send Off</p>
      </div>
    </div>
  </div>
</div>
</section>
<!-- End Schedule Area -->