<!-- Inner Banner Start-->
<section class="inner-hero-banner">
  <div class="inner-hero-text">
    <h1>Registry</h1>
  </div>
</section>
<!-- Inner Banner End -->
<!-- Start Feature Content Area -->
<section class="section">
  <!-- Circle Animations Effect-->
  <ul class="circles fetures-circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="container">
    <div class="about-text-block text-center">
      <div class="about-content">
        <h4>Link</h4>
        <br/>
        <div class="text">Your presence at our wedding is the greatest gift of all!
          <br/>
          However, if you wish to honor us with a gift, we have registered a list with (shop). 
          <br/>
          You can view it using the link above or at any store.</div>
      </div>
    </div>
  </div>
</section>
<!-- End Feature Content Area -->