@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap');

.header.names {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Dawning of a New Day', cursive;
    font-weight: 550;
    font-size: 72px;
    color: #8B9DAC;
    background: #2A2A2A;
    margin-bottom: 0;
}

@media (max-width: 575px) {
    .header.names {
        font-size: 3rem;
    }
}

