<!-- Inner Banner Start-->
<section class="inner-hero-banner">
  <div class="inner-hero-text">
    <h1>Travel</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Travel</li>
      </ol>
    </nav>
  </div>
</section>
<!-- Inner Banner End -->
<!-- Start Feature Content Area -->
<section class="section">
  <!-- Circle Animations Effect-->
  <ul class="circles fetures-circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-sm-12">
        <div class="about-image-block mt-0 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
          <img src="assets/images/travel/foxchase.jpg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="about-text-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
          <div class="location-name">
            <h4>Foxchase Golf Club</h4>
            <p>We're heading outside!
              <br/><br/>
              Our ceremony and reception will be held outside so please dress accordingly for the weather.
            </p>
          </div>
        </div>
      </div>
    </div>
    <br/><br/>
    <div class="row align-items-center">
      <div class="col-md-6 col-sm-12">
        <div class="about-text-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
          <div class="location-name">
            <h4>Hotel Name</h4>
            <p>For those traveling - we've reserved a hotel block at X.
              <br/><br/>
              Rooms can be booked here (link) or by calling (xxx) xxx-xxxx.
              <br/><br/>
              Use code X to book at the discounted rate below!
            </p>
            <ul class="bullet--list mt-4">
              <li><strong class="color-dark">Two Queen Beds -</strong> $Price</li>
              <li><strong class="color-dark">One King Bed -</strong> $Price</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="about-image-block mt-0 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
          <img src="assets/images/travel/foxchase.jpg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Feature Content Area -->