.location-name {
    margin-top: 30px;
    transition: .6s;
  }
  
  .location-name h4 {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 45px;
    color: #8B9DAC;
    line-height: 35px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  .location-name p {
    font-size: 16px;
    color: #333;
    line-height: 30px;
  }

  #map {
    height: 500px;
    width: 100%;
   }

   agm-map {
    height: 300px;
  }