<!-- Inner Banner Start-->
<section class="inner-hero-banner">
  <div class="inner-hero-text">
    <h1>Travel</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Travel</li>
      </ol>
    </nav>
  </div>
</section>
<!-- Inner Banner End -->
<!-- Start Feature Content Area -->
<section class="section">
  <!-- Circle Animations Effect-->
  <ul class="circles fetures-circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-sm-12">
        <div class="about-image-block mt-0 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
          <img src="assets/images/travel/foxchase.jpg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="about-text-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
          <div class="location-name">
            <h4>Foxchase Golf Club</h4>
            <p>We're heading outside!
              <br/><br/>
              Our ceremony and reception will be held outside so please dress accordingly for the weather.
            </p>
          </div>
        </div>
      </div>
    </div>
    <br/><br/>
    <div class="row align-items-center">
      <div class="col-md-6 col-sm-12">
        <div class="about-text-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
          <div class="location-name">
            <h4>Lodging</h4>
            <p>For those traveling - we've put together a list of hotels in the area.
              <br/>
              Rooms can be booked at the links below.
            </p>
            <ul class="bullet--list mt-4">
              <li><strong class="color-dark">Tru by Hilton Denver - </strong><a href="https://www.hilton.com/en/hotels/lnsrgru-tru-denver/">Reserve a Room</a></li>
              <li><strong class="color-dark">Comfort Inn Lancaster County North - </strong><a href="https://www.comfortinnlancastercountynorth.com">Reserve a Room</a></li>
              <li><strong class="color-dark">HomeTowne Studios Denver, PA - </strong><a href="https://www.redroof.com/extendedstay/hometownestudios/property/pa/denver/hts1265">Reserve a Room</a></li>
              <li><strong class="color-dark">Red Roof Inn Denver - </strong><a href="https://www.redroof.com/property/pa/denver/RRI753">Reserve a Room</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="about-image-block mt-0 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
          <img src="assets/images/travel/hotel.jpg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Feature Content Area -->